<ion-view title="{{ 'TAB1' | translate }}" hide-nav-bar="true" hide-tabs>
  <ion-pane>
    <div ng-app="starter" >
   
  <ion-content padding="true" style="display: flex; align-items: center; justify-content: center;" overflow-scroll="false">
      <style type="text/css">
        input[readonly] {
          background-color: transparent !important;
          cursor: not-allowed;
        }

      </style>
    <div style="text-align: center">
     
      
         <!--<div>
          <a href="#/app/account" class="button button-block button-positive"  style="width: 25%">
            <img style="margin-top: 5%" src="./img/click.png" >
            <ion-nav-view name="tab-account"></ion-nav-view>
          </a>-->
          <!--<a ng-show="connectedyet" href="#/app/browse" class="button button-block button-positive"><i class="icon ion-log-in"></i> Bienvenue</a>-->
       <!--</div> --> 
      <img src="./img/sgbs1.png" style="width:70%; height: 20%;">

      <p style="margin-top: 40%;">

        <div>
          <a href="#/app/login1" class="button button-block button-assertive"><i class="icon ion-log-in"></i>{{ 'btn_conn' | translate }}</a>
          <!--<a ng-show="connectedyet" href="#/app/browse" class="button button-block button-positive"><i class="icon ion-log-in"></i> Bienvenue</a>-->
        </div>
        
      </p>
      <br>
      <p>
        <!--<div style="text-align: center;color: #0a9dc7;font-weight: bolder;">
          Créer un compte?
        </div>-->
        <a href="#/app/addcompte" style="text-align: center;color: #0a9dc7;font-weight: bolder;" >
          Créer un compte?
        </a>

      </p>
     
    </div> 
    <br/>
    <ion-footer >
    <div style="text-align: center;margin-top: 80%;color: #0a9dc7;font-weight: bolder;"> 
    <p>
      &copy HTSOFT
      Version beta-1.0
    </p>       
    </div>
    </ion-footer>
  </ion-content>

</div>
</ion-pane>
</ion-view>
